{
  "presets": ["react", "es2015"],
  "plugins": ["transform-object-rest-spread"],
  "env": {
    "release": {
      "plugins": [
        "transform-runtime",
        ["transform-react-remove-prop-types", {
          "mode": "wrap"
        }]
      ]
    }
  }
}
