.colorPickerGradient {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.colorPickerHueGradient {
    background-image: linear-gradient( 90deg, 
        rgb(0, 169, 224) 0%,
        rgb(50, 52, 144) 20%, 
        rgb(234, 22, 136) 40%,
        rgb(235, 46, 46) 60%,  
        rgb(253, 233, 45) 80%, 
        rgb(0, 158, 84) 100%);
}

.colorPickerCircle {
    position: absolute;
    box-sizing: border-box;
    border: solid 2px white;
    border-radius: 50%;
    vertical-align: middle;
    cursor: w-resize;
}

.colorPickerRect {
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
}
.colorPickerRect.selected {
    border: solid 3px white;
}
